body {
  background-color: #87bfff;
  font-family: "Trebuchet MS";
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #87bfff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #023e8a;
  border-radius: 10px;
}

.div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p {
  font-size: 1.6vw;
  text-align: center;
  font-weight: bold;
}

.txt {
  font-size: x-large;
}

.txt2 {
  font-size: larger;
}
