body {
  background-color: #87bfff;
  font-family: "Trebuchet MS";
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #87bfff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #023e8a;
  border-radius: 10px;
}

.div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.txt {
  font-size: x-large;
}

.txt2 {
  font-size: larger;
}

.pressureDiv {
  width: 150px;
  height: 150px;
  padding-top: 22px;
  margin-left: 50px;
}

.temptxt {
  font-size: 25px;
}

.HTtxt {
  font-size: 20px;
}
.Mapdiv {
  position: relative;
  height: 685px;
  margin-top: -70px;
  z-index: 1;
}

.searchdiv {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

@media only screen and (max-width: 600px) {
  .p {
    font-size: 15px;
  }
  .chart {
    height: 90;
    width: 30;
  }
  .pressureDiv {
    padding-top: 17px;
    height: 100px;
    width: 100px;
    margin-left: 25px;
  }
  .Mapdiv {
    height: 600px;
  }
  .HTtxt {
    font-size: 15px;
  }
  .temptxt {
    font-size: 20px;
  }
}
